@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+3D&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(var(--primary-color-hue), 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);
    --color-sucess: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);


    --border-radius: 2rem;
    --card-border-radius: 2rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.5rem;
    --sticky-top-right: -18rem;

}


body {
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}



#preload {
    background: var(--color-light);
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3 all;
}

#preload img {
    width: 400px;
    height: 400px;
}



/* ------- VAR GENERIC ------- */

.container {
    width: 80%;
    margin: 0 auto;
}

.profie-picture {
    width: 2.8rem;
    height: 2.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    font-size: 0.9rem;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 300ms ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}


.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

.logo {
    display: flex;
    align-items: center;
    color: var(--color-dark);

}

.logo  img {
    width: 50px;
    height: 50px;
}

/* ------- NAVBAR ------- */

nav {
    width: 100%;
    background-color: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    z-index: 100;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .search-bar {
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type ="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type ="search"]::placeholder {
    color: var(--color-gray);
}


nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}



/* ------- MAIN ------- */

main {
    position: relative;
    top: 5.5rem;
}

main .container {
    display: grid;
    position: relative;
    grid-template-columns: 18vw auto 10vw;
    column-gap: 2rem;
}

main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left .profie {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}


/* ------- MAIN LEFT ------- */



.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate:  all 300ms ease;
    position: relative;
}



.left .sidebar .profie-picture {
    margin-top:1rem;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.5rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

#logout h3 {
    color: var(--color-dark);
}

.left .sidebar .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border: 0.8rem;
    padding: .1rem .4rem;
    position: absolute;
    top: -0.2rem;
    right: 0.3rem;
}

.left .handle h4 {
    color: var(--color-gray);
    font-weight: 800;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 0.8rem;
    
}



.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active i, .left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}


.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 0;
}


#btn-post {
    border: none;
    background: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--color-secondary);
    transition: .3s;
    cursor: pointer;
}

#btn-post.active {
    color: red;
}

#btn-post:hover {
    color: red;
}

.left .notifications-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 1px 2px 5px 5px rgba(60,37,153,0.50);
    z-index: 8;
}



.left .notifications-popup small {
    display: block;
}



/* ------- PROFIE SECTION ------- */


.profie-banner {
    width: 100%;
    height: 250px;
}

.profie-container .cover-img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 14px;
    height: 100%;
    
}


.profie-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--color-white);
    padding: 20px;
    border-radius: 5px;
}

.profie-details-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profie-details-row img {
    width: 150px;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

.profie-details-row div h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.profie-deitals-right button {
    background: var(--color-primary);
    padding: 20px 10px;
    display: inline-block;
    align-items: center;
    color: #fff;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.profie-deitals-right button i {
    margin-right: 5px;
    font-size: 15px;

}



/* ------- MAIN CENTER ------- */

.center .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.center .create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}



/* ------- Feed CENTER ------- */

.center .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-border-radius);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.center  .feed .head {
    display: flex;
    justify-content: space-between;
}

.center .feed .user {
    display: flex;
    gap: 1rem;
}

.center .feed .caption {
    margin-top: 1rem;
}

.center .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
    width: 75%;
}

.center .feed .photo  img {
    width: 100%;

}

.center .feed .action-button {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
   
}

.center .feed .action-button:first-child {
    margin-right: 0.6rem;
}


/* ------- THEME MODAL ------- */


.customize-theme{
    background: rgba(22, 22, 22, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}



.customize-theme .card {
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 25%;
}

.customize-theme .background {
    margin-top: 2rem;
}

.customize-theme .choose-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.5rem;
}

.customize-theme .choose-bg > div {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: var(--card-padding);
    border-radius: 0.4rem;
    cursor: pointer;
}


.customize-theme .choose-bg > div.active {
    border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg h5 {
    margin-left: 0.5rem;
}

.customize-theme .choose-bg > div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    margin-right: 0rem;
} 

.customize-theme .choose-bg .bg-1 {
    background: white;
    color: black;
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%,17% );
    color: white;
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%,10% );
    color: white;
}


/* ------- THEME MODAL EDIT PROFIE ------- */

#user-info {
    background: rgba(22, 22, 22, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    place-items: center;
    display: none;
}

#user-info  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }

  #user-info input[type="file"] {
    display: none;
  }
  
  #user-info .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }


  #user-info .container .form{
    padding: 2rem;
  }

  #user-info .form h1{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-dark);
  }

  #user-info  .form input{
     height: 60px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid #ddd;
     border-radius: 6px;
     outline: none;
     color: var(--color-dark);
     background-color: var(--color-white);
   }

   #user-info .form input:focus{
     box-shadow: 0 1px 0 rgba(0,0,0,0.2);
   }
   
  
  #user-info .form input.button{
    color: #fff;
    background: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
    border: none;
  }
  #user-info .form input.button:hover{
    opacity: 0.8;
  }



/* ------- CHAT SECTION ------- */



.wrapper2{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    place-items: center;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;   
    display: none;
}

.wrapper2 .users {
    border-radius: 20px;
}



.wrapper2 .content img {
    object-fit: cover;
    border-radius: 50%;
}

.wrapper2 .content .details a {
    color: var(--color-dark);
    margin-left: 8rem;
    cursor: pointer;
}

.wrapper2 .header img {
    width: 50px;
    height: 50px;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}


:is(.users, .users-list) .content .details{
    color: var(--color-dark);
    margin-left: 20px;
}

:is(.users, .users-list) .content .details span {
    font-size: 18px;
    font-weight: 500;

}

.wrapper2 .users {
    padding: 25px 30px;
    background-color: var(--color-white);
   
    
}

.wrapper2 .users .search {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.wrapper2 .users .search .text {
    font-size: 18px;
}

.wrapper2 .users .search  input {
    height: 42px;
    width: calc(100% -50px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid var(--color-primary);
    outline: none;
    border-radius: 5px 0 0 5px;
    transition: all .2s ease;
    background-color: transparent;
    color: var(--color-dark);
}

.wrapper2 .users .search  button {
    position: relative;
    z-index: 1;
    width: 47px;
    height: 42px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background-color:  transparent;
    color: var(--color-primary);
    outline: none;
}

.wrapper2 .users .users-list {
    max-width: 350px;
    overflow-y: auto;
    display: inline-block;
    
}

.wrapper2 .content img {
    width: 50px;
    height: 50px;
}


.wrapper2 .users .users-list a {
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 15px;
    border-bottom-color: var(--color-primary);
}

.wrapper2 .users .users-list a:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.wrapper2 .users .users-list  .details {
    color: var(--color-dark);
}

.wrapper2 .users .header, .users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-primary);
    justify-content: space-between;
}


   


/* ------- CHAT MESSAGE ------- */

.chatbox-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    
}

.chatbox-toggle {
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.chatbox-toggle:active {
    transform: scale(.9);
}

.chatbox-message-wrapper {
    position: absolute;
    bottom: calc(100% + 1rem);
    right: 0;
    width: 420px;
    overflow: hidden;
    border-radius: .4rem;
    box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, .2);
    transform: scale(0);
    transform-origin: bottom right;
    transition: .2s;
}

.chatbox-message-wrapper.show {
    transform: scale(1);
}

.chatbox-message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1.5rem;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-primary);

}

.chatbox-message-profile {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.chatbox-message-profile img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.chatbox-message-name {
    font-size: 1rem;
    font-weight: 600;
}

.chatbox-message-status {
    font-size: .75rem;
    color: var(--color-gray);
}

.chatbox-message-dropdown{
    position: relative;
}

.chatbox-message-dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.20rem;
    cursor: pointer;
}


.chatbox-message-dropdown-menu {
    position: absolute;
    width: 120px;
    top: 100%;
    right: 0;
    background: var(--color-primary);
    padding: .5rem 0;
    text-align: start;
    box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .1);
    transform: scale(0);
    transform-origin: top right;
    transition: .2s;
}

.chatbox-message-dropdown-menu.show {
    transform: scale(1);
}

.chatbox-message-dropdown-menu a {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    display: block;
}

.chatbox-message-dropdown-menu a:hover {
    background-color: var(--color-secondary);
}

.chatbox-message-content {
    background-color: var(--color-white);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    border-bottom: 1px solid var(--color-primary);
    max-height: 300px;
    overflow-y: auto;
}

.chatbox-message-item {
    width: 90%;
    padding: 1rem;

}

.chatbox-message-item.sent {
    align-self: flex-end;
    background: var(--color-primary);
    color: #fff;
    border-radius: .85rem 0 .75rem .75rem;
}

.chatbox-message-item.received {
    align-self: flex-start;
    background: var(--color-secondary);
    color: var(--color-black);
    border-radius: 0 .75rem .75rem .75rem;
    box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .2);

}

.chatbox-message-bottom {
    background: var(--color-white);
    padding: .75rem 1.5rem;
    border: 1px solid var(--color-primary);
}

.chatbox-message-form {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: rgba(232, 230, 230, 0.683);
}

.chatbox-message-input {
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    color: var(--color-black);
    font-size: 1rem;
    width: 100%;
}


.chatbox-message-submit {
    font-size: 1.30rem;
    color: var(--color-primary);
    background: none;
    cursor: pointer;
}

.chatbox-message-no-message {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    display: none;
}

/* ------- RESPONSIVE ------- */

@media (max-width: 1200px) {
    .container {
        width: 96%;
    
    }

    main .container {
        grid-template-columns: 5rem auto;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profie {
        display: none;
    }

    .sidebar h3, .left .btn {
        display: none;
    }

    .customize-theme .card {
        width: 90vw;
    }
}


@media (max-width: 992px) {
    nav .search-bar {
        display: none;
    }

    main .container {
        grid-template-columns: 0 auto 4rem;
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .left .notifications-popup {
        position: absolute;
        left: -15rem;
        width: 15rem;
        box-shadow: 1px 2px 5px 5px rgba(60,37,153,0.50);

    }

    .left .notifications-popup::before {
        position: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }

    .menu-item .profie-picture {
        margin-top:1rem;
    }

    .notifications-body {
        margin-top: 0.5rem;
    }

    main .container .left .sidebar > div h3 {
        display: none;
    }

    main .container .center {
        grid-column: 1/3;
    }


    .customize-theme .card {
        width: 80vw;
    }
}

@media (max-width: 850px) {
  
    .center .feed .photo {
        border-radius: var(--card-border-radius);
        overflow: hidden;
        margin: 0.7rem 0;
        width: 100%;
    }
   
    .logo {
        font-size: 1.2rem;
    }
    
    .logo  img {
        width: 40px;
        height: 40px;
    }

    .feed .profie-picture {
        display: block;
    }

    .profie-picture {
        display: none;
    }

    .form-box .progress {
        flex: 1 0 35%;
        min-width: 300px;
        padding: 3em;
    }

    #user-info  .container{
       
        max-width: 290px;
        width: 100%;
     
      }

     
    
   
  }
  
  